* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

#calc {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    background-color: lightblue;
}

#numCont {
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

#numDisplay {
    text-align: right;
    letter-spacing: .3rem;
    margin: 0;
    padding: 0;
}

#buttons {
    display: grid;
    flex: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 5px;
}

.flexCont {
    display: flex;
}

.number {
    background-color: blue;
}

.operator {
    background-color: orange;
}
