* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

body {
    background-color: gray;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calc {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: lightblue;
    border-radius: 9px;
}

#numCont {
    background-color: white;
    border-style: solid;
    margin: 30px;
    padding: 5px 10px 5px 5px;
    text-align: right;
}

.displayNum {
    margin: 0;
    padding: 0;
}

#expression {
    font-size: 15px;
}

#numDisplay {
    font-size: 35px;
    height: 50px;
    letter-spacing: 1px;
}

#buttons {
    display: grid;
    flex: auto;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-auto-rows: minmax(50px, auto);
    gap: 2px;
    margin: 20px;
}

.flexCont {
    display: flex;
}

button {
    height: 50px;
    width: 60px;
    font-size: 18px;
    border-radius: 8px;
}

.numBtn {
    background-color: lightgray;
}

.number {
    background-color: blue;
}

.operatorBtn {
    background-color: orange;
}
